{% extends '../base.html' %}
{% load static %}

{% block title %}
<title>Login page</title>
{% endblock title %}

{% block content %}
<div class="container">
    <h2 class="text-center mt-5">Register your Account !!!</h2>
    <form id="loginform" action method="post" class="m-5">
        {%csrf_token%}
        <div class="mb-3">
            <label class="form-label">Username</label>
            <div class="form-group">
                <input class="form-control" id="username" type="text"
                    name="username" placeholder="eg. Rohan123...."
                    tabindex="1">
                <span class="error-message" id="usernameError"></span>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <div class="form-group">
                <input class="form-control" id="username" type="email"
                    name="email" placeholder="eg. Rohan123...."
                    tabindex="1">
                <span class="error-message" id="emailError"></span>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <div class="form-group">
                <input class="form-control" id="password" type="password"
                    name="password" placeholder="Enter password........."
                    tabindex="2" autocomplete="on ">
                <span class="error-message" id="passwordError"></span>
            </div>
        </div><div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <div class="form-group">
                <input class="form-control" id="cpassword" type="password"
                    name="password" placeholder="Re-type password........."
                    tabindex="2" autocomplete="on">
                <span class="error-message" id="cpasswordError"></span>
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-outline-success w-20px"
                id="signupBtn" tabindex="3">Sign Up</button>
        </div>

    </form>

</div>
{% endblock content %}