{% extends '../base.html' %}
{% load static %}

{% block title %}
<title>Login page</title>
{% endblock title %}

{% block content %}
  <h2 class="text-center mt-5">Register your Account !!!</h2>
  <div class="d-flex justify-content-center align-items-center">
    <form  method="POST" id="loginform" action="{% url 'userApp:register-user'%}"  class="m-3">
        {% csrf_token %}
        <div class="row">  <div class="mb-3 col-md-6">  <label class="form-label">Username</label>
                <div class="form-group">
                    {{ form.username }}
                </div>
            </div>
            <div class="mb-3 col-md-6">  <label class="form-label">Email</label>
                <div class="form-group">
                    {{ form.email }}
                </div>
            </div>
            <div class="mb-3 col-md-6">  <label class="form-label">Password</label>
                <div class="form-group">
                    {{ form.password1}}
                    <span class="error-message" id="passwordError"></span>
                </div>
            </div>
            <div class="mb-3 col-md-6">  <label class="form-label">Confirm Password</label>
                <div class="form-group">
                    {{ form.password2 }}
                </div>
            </div>
        </div>  
        <div class="d-grid gap-2 mx-auto">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
</div>
{% endblock content %}