<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
</head>
<body>
    <li class="lg ul aas ayb dpl"><div class="bjm l"><img alt="Black porcelain mug with modern square handle and natural clay accents on rim and bottom." src="https://tailwindui.com/plus/img/ecommerce-images/home-page-02-product-02.jpg" class="ob vo agd aku asz blm"><div class="hk"><p class="ayp bas">Matte Black</p><h3 class="hd azr baw"><a href="#"><span class="j u"></span>Earthen Mug</a></h3><p class="hd baw">$28</p></div></div><h4 class="i">Available colors</h4><ul role="list" class="hx la aaz abf adt avk"><li class="ol agb ahg ahz" style="background-color: rgb(75, 85, 99);"><span class="i">Matte Black</span></li><li class="ol agb ahg ahz" style="background-color: rgb(254, 243, 199);"><span class="i">Natural</span></li></ul></li>
</body>
</html>