{% extends "../base.html"%}
{%load static%}
{%block title%}
<title>All products</title>
{% endblock title%}
{%block content%}

        {%if products%}
        <div class="row m-4">
            {%for product in products%}
            
            <div class="col-sm-3">
                <div class="thumb-wrapper">
                    <div class="img-box">
                       <a href="{% url 'productApp:product-details' product.slug%}">
                        <img src="{{product.image.url}}" class="img-fluid" alt="{{product.name}}">
                    	</a>								
                    </div>
                    <div class="thumb-content">
                        <h4>{{product.name}}</h4>									
                        <p class="item-price"><b>Rs. {{product.price}}</b></p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                </div>
            </div>
   
{%endfor%}
        </div>
{%else%}

<h3 class="text-center">No products available !!!!</h3>
{%endif%}
{%endblock content%}